{% extends 'base/main.html' %}
{% block content %}
<div class="top-page">
    <h1>Вход</h1>
</div>

<div class="todo-add-form">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="login">
    </form>
    
    <p>Нет аккаунта? <a href="{% url 'register' %}">Регистрация</a></p>
</div>


{% endblock content %}