<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Список задач</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap" rel="stylesheet">
    <style>
        body{
            background-color: antiquewhite;
            font-family: 'Nunito Sans', sans-serif;
            padding-top: 50px;
        }

        a,
        p {
            color: #16061b
        }

        .container{
            max-width: 600px;
            margin: auto;
            box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
        }

        .top-page {
            display: flex;
            justify-content: space-between;
            color: #fff;
            padding: 10px;
            border-radius: 5px 5px 0 0;
            background: linear-gradient(60deg, #8eb96a 0%, #60c59e 43%, #97706c 100%);
        }
        .top-page a {
            color: rgb(247, 247, 247);
            text-decoration: none;
        }

        .todo-property {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
            border-top: 1px solid #dfe4ea;
            overflow: hidden;
        }
        .todo-title {
            display: flex;
            padding: 20px;
        }

        .todo-title a {
            text-decoration: none;
            color: #4b5156;
            margin-left: 10px;
        }
        .todo-complete-icon {
            height: 20px;
            width: 20px;
            background-color: rgb(35, 165, 35);
            border-radius: 20%;
        }

        .delete-link {
            text-decoration: none;
            font-weight: 900;
            color: #cf4949;
            font-size: 22px;
            line-height: 0;
            padding: 20px 0px;
        }

        #new-todo {
            color: #6feb8a;
            text-decoration: none;
            font-size: 38px;
            text-shadow: 1px 1px #3b813e;
            margin-top: 8px;
        }
        #new-todo2 {
            color: antiquewhite;
            text-decoration: none;
            font-size: 22px;
            text-shadow: 1px 1px #95a396;
        }

        #search-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }
        /* #del */

        .button {
            border: 1px solid #a70e93;
            background-color: #0ecf78;
            color: #442927;
            padding: 10px;
            font-size: 14px;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }

        input[type=text],
        input[type=password],
        textarea {
            border: 1px solid #757575;
            border-radius: 5px;
            padding: 10px;
            width: 90%;
        }
        label {
            padding-top: 10px !important;
            display: block;
        }

        .todo-add-form {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        {% block content %} {% endblock content %}
    </div>
</body>
</html>