{% extends 'base.html' %}

{% block content %}
  <h1>Изменить профиль</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
{% endblock %}
