{% extends 'base/main.html' %}
{% block content %}

<div class="top-page">
    <h1>Регистрация</h1>
</div>


<div class="todo-add-form">
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input class="button" type="submit" value="Register">
</form>

<p>Уже есть аккаунт? <a href="{% url 'login' %}">Вход</a></p>
</div>

{% endblock content %}