
{% extends 'base/main.html' %}
{% block content %}
<!-- <h3>Карточка задачи</h3> -->
<div class="top-page">
    <a href="{% url 'todos' %}">&#8656; Вернуться</a>
</div>


<div class="todo-add-form">
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Сохранить">
    </form>
</div>


{% endblock content %}