{% extends 'base/main.html' %}
{% block content %}

<div class="top-page">
    <div>
        <h1>Добро пожаловать в Задачи, {{request.user|title}}</h1>
        <h3 style="margin:0">Незавершённых задач: <i>{{count}}</i> шт.</h3>
    </div>
    {% if request.user.is_authenticated %}
<a href="{% url 'logout' %}">Выйти</a>

{% else %}
<a href="{% url 'login' %}">Войти</a>
{% endif %}
</div>



<div id="search-list">
    <form id="search-id" method="GET" style="margin-top: 20px; display: flex;">
        <input type="text" name="search-area" value="{{search_input}}">
        <input class="button" type="submit" value="Поиск">
    
    </form>
    
    
    <form method="get" action="" style="margin-top: 20px; display: flex;">
        <select name="sort_by">
            <option value="complete">По выполнению(+)</option>
            <option value="-complete">По выполнению(-)</option>
            <option value="-created">По созданию</option>
            <option value="due_date">По дате</option>
            <option value="priority">По приоритету</option>
        </select>
        <button class="button" type="submit">ОК</button>
    </form>

    <a id="new-todo" href="{% url 'todo-create' %}">[&#43;]</a>
</div>
<!-- <h1>Hi !</h1> -->



<!-- <div id="filter-list"></div>

</div> -->


<div class="todo-list-property">
    {% for todo in todos %}
    <div class="todo-property">
        <div class="todo-title">
            {% if todo.complete %}
            <div class="todo-complete-icon"></div>
            <!-- <i class="fa fa-flag-checkered" aria-hidden="true"></i> -->
            <i><s><a href="{% url 'todo-update' todo.id %}">{{todo}}</a></s></i> {% else %}
            <div class="todo-incomplete-icon"></div>
            <a href="{% url 'todo-update' todo.id %}">{{todo}}</a> {% endif %}
        </div>
        <div class="todo-controls">
            <a class="delete-link" href="{% url 'todo-delete' todo.id %}">&#9747;</a>
            <span class="handle">&nbsp;&#10247;</span>
        </div>
    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>Нет задач</h3>
        <h3>Создать <a style="text-decoration: none; color: #e53935;" href="{% url 'todo-create' %}">новую задачу</a> ! </h3>
    </div>
    {% endfor %}
</div>

{% endblock content %}
