{% extends 'base/main.html' %}
{% block content %}

<div class="top-page">
    <a href="{% url 'todos' %}">&#8656; Вернуться</a>
</div>

<div class="todo-add-form">
    <form method="POST">
        {% csrf_token %}
        <p>Вы действитльно хотите удалить "{{todo}}" ?</p>
        <input class="button" type="submit" value="Удалить">
    </form>
</div>

{% endblock content %}