<!-- {% extends 'base.html' %}

{% block content %}
  <h1>Edit Profile</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
{% endblock %} -->


<!-- profiles/profile.html -->
<h1>{{ profile.user.username }}</h1>
<!-- Add additional profile information here -->